body {
  /*
  background-image: url(/assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */

  /*background: color image repeat position/size */
  background: url(/assets/bg-mobile.jpg) no-repeat top center/cover;
}

body {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-weight: 500;
}

#container {
  border: 1px solid red;
  width: 360px;
  margin: auto;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  border: 2px solid rgb(214, 182, 241);
  border-radius: 50%;
}